export(cmd.hpccaller)
export(cmd.hpcwrapper.cx1.ic.ac.uk)
export(cmd.hpcwrapper)
export(r3seq.cmd.check.candidates)
export(r3seq.cmd.process.3SEQ.output)
export(r3seq.cmd.run.3seq)
export(r3seq.pipe.get.phyloincongruence.for.candidates)
export(r3seq.pipe.plot.phyloincongruence.for.candidates)
export(r3seq.pipe.run.3seq)
export(r3seq.prog.get.incongruence)
export(r3seq.prog.plot.incongruence)
export(r3seq.prog.process.3SEQ.output)
