export(hivc.clu.clusterbythresh)
export(hivc.clu.geneticdist.cutoff)
export(hivc.cmd.blast.makedb)
export(hivc.cmd.blast)
export(hivc.cmd.clustalo)
export(hivc.cmd.examl.bsalignment)
export(hivc.cmd.examl.bsstarttree)
export(hivc.cmd.examl.cleanup)
export(hivc.cmd.examl)
export(hivc.cmd.get.firstseq)
export(hivc.cmd.get.geneticdist)
export(hivc.cmd.hpccaller)
export(hivc.cmd.hpcwrapper)
export(hivc.seq.create.referencepairs)
export(hivc.seq.dist)
export(hivc.seq.read.GenBank)
export(hivc.seq.rmgaps)
export(hivc.seq.write.dna.phylip)
export(HPC.CX1.IMPERIAL)
export(HPC.LOAD)
export(HPC.MEM)
export(HPC.MPIRUN)
export(HPC.NPROC)
export(or.dist.dna)
export(PR.BLASTMAKEDB)
export(PR.BLASTMASK)
export(PR.BLASTN)
export(PR.CLUSTALO.HMM)
export(PR.CLUSTALO)
export(PR.EXAML.BS)
export(PR.EXAML.BSCREATE)
export(PR.EXAML.EXAML)
export(PR.EXAML.PARSER)
export(PR.EXAML.STARTTREE)
export(PR.FIRSTSEQ)
export(PR.GENDISTMAT)
import(ape)
import(data.table)
import(geiger)
import(igraph)
import(phytools)
useDynLib(hivc)
